section#about
	.content
		h2 About
		p Are you ready summer vacation? Don't forget about a paper hat! We're happy to announce our first  collection is almost here and will be available in our store next week. We hope that you can't wait to buy them all. 
		h3 
			| Sing up and
			br
			| get 20% off
		p Be first to know about the latest news and get exclusive offers
		form.newsletter
			input(id="email" name="email" placeholder="Enter your email")
			input(type="button" value="Sign Up")

