mixin hat(image,desc)
	.hat-item
		figure
			img(src=image)
			figcaption=desc


section#collection
	.content
		h2 Collection
		p We are so excited to finally be able to share some sneak peeks of our first collection with you.
		.hat-gallery
			+hat("images/rothko-hat.png", 'rothko')
			+hat("images/moon-hat.png", 'moon')
			+hat("images/froga-hat.png", 'froga')
			+hat("images/australia-hat.png", 'australia')
			+hat("images/jordan-hat.png", 'jordan')
			+hat("images/indian-hat.png", 'indians')								