nav.main-nav
	ul.main-nav-items
		li: a(data-scroll href="#about") About
		li: a(data-scroll href="#collection") Collection
		li: a(data-scroll href="#team") Team
		li: a(data-scroll href="#inspirations") Inspirations
		li: a(data-scroll href="#contact") Contact