nav.side-nav
	ul.side-nav-items
		li: a(data-scroll href="#about"): span About
		li: a(data-scroll href="#collection"): span Collection
		li: a(data-scroll href="#inspirations"): span Inspirations
		li: a(data-scroll href="#team"): span Team
		li: a(data-scroll href="#contact"): span Contact
		
