// Layout Rules

// Layout styles can also be divided into major and minor styles based on
// reuse. Major layout styles such as header and footer are traditionally
// styled using ID selectors but take the time to think about the elements
// that are common across all components of the page and use class selectors
// where appropriate.

// @source http://smacss.com/book/type-layout

// Logo & Hamburger Menu

.menu, .logo {
	position: absolute;
	z-index: 2;
	@include bp(medium) {
		position: fixed;
	}
}

.menu {
	right: 40px;
	top: 40px;
}

.logo {
	left: 40px;
	top: 20px;
}

// Side Navigation

.side-nav {
	display: none;
	@include bp(medium) {
		display: block;
		position: fixed;
		top: 200px;
		top: 50%;
		transform: translateY(-50%);
		right: 40px;
		z-index: 1;
	}
}

// Main Content

.content {
	width: 100%;
	@include bp(medium) {
		max-width: 660px;
		margin: 0 auto
	}
	@include bp(large) {
		max-width: 980px;
	}
}

// Main Header

#main-header {
	height: 100%;
	background: $yellow;
	position: relative;
	.content {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.arrow {
		position: absolute;
		bottom: 40px;
		left: calc(50% - 20px);
	}
}

// Sections

section {
	padding: 1.25em 0 2.5em 0;
	text-align: center;
	p {
		padding: 0 0.8em;
	}
}

#about, #inspirations, #contact {
	background: lighten($blue,10%);	
}

#collection, #team {
	background: lighten($yellow,10%);
}

#about .newsletter, #inspirations .inspirations-gallery {
	padding: 0 0.8em;
	margin: 0 auto;
}

#contact form {
	padding: 0 0.8em;
	margin: 3em auto;
}

// Footer

footer {
	padding: 1.8em 0;
	text-align: center;
	background: $yellow;
}