body {
	font-size: 90%;
	color: $black;
	@include bp(medium) {
    	font-size: 100%;
  	}
}

h1, h2, h3, h4, h5, h6, figcaption, a {
	font-family: 'Roboto Condensed';
	text-transform: uppercase;
}

p {
	font-family: Roboto;
	font-size: 1.2em;
	line-height: 1.4;
	margin-bottom: 2.2em;
}

h1 {
	font-size: 1.8em;
	@include bp(small) {
		font-size: 2.4em;
	}
	@include bp(medium) {
		font-size: 3.2em;
	}
	@include bp(large) {
		font-size: 4em;
	}
	span {
		font-size: 1.85em;
	}
}

h2 {
	font-size: 2em;
	margin: 1.2em 0;
}

#about h3 {
	font-size: 2.8em;
	margin: 1.2em 0 0.4em;
}

#about h3 + p {
	margin-bottom: 1.6em;
}

.main-nav-items {
	a {
		font-size: 1.8em;
		color: $black;
		@include bp(small) {
			font-size: 2.4em;
		}
		@include bp(medium) {
			font-size: 2.8em;
		}
		@include bp(large) {
			font-size: 3.2em;
		}
	}
}

.side-nav-items {
	a {
		font-size: 12px;
		color: white;
	}
}

.newsletter input[type="button"] {
	color: white;
	text-transform: uppercase;
}

.hat-gallery figcaption {
	font-size: 1.2em;
}

.contact-form {
	label {
		font-size: 0.8em;
		text-transform: uppercase;
	}
	.contact-submit input {
		color: white;
		text-transform: uppercase;
	}
}

footer p {
	text-transform: uppercase;
	font-size: 0.8em;
	margin: 0;
}