.contact-form {
	width: 100%;
	text-align: left;
	@include bp(large) {
		width: 80%;
	}
	input, textarea {
		width: 100%;
		padding: 0.4em 0.8em;
		margin: 0.4em 0;
		border: 2px solid lighten($black,40%);
	}
	textarea {
		height: 220px;
	}
	.contact-submit input {
		width: auto;
		background: lighten($black,40%);
		border: none;
	}
}