.newsletter {
	width: 100%;
	display: flex;
	@include bp(small) {
		width: 60%;
	}
	@include bp(large) {
		width: 40%;
	}
	input[id="email"] {
		height: 34px;
		padding: 0.4em 0.8em;
		flex-grow: 1;
		border: 2px solid lighten($black,40%);
	}
	input[type="button"] {
		height: 34px;
		padding: 0.4em 0.8em;
		border: none;
		background: lighten($black,40%);
	}
}