.side-nav-items {
	li {
		list-style: none;
		margin-bottom: 10px;
		position: relative;
		a {
			width: 12px;
			height: 12px;
			display: block;
			border-radius: 100%;
			color: white;
			font-size: 12px;
			border: 2px solid $black;
		}
		span {
			display: block;
			visibility: hidden;
			opacity: 0;
			position: absolute;
			left: -90px;
			text-align: center;
			width: 80px;
			top: -1px;
			background: $black;
		}
	}
}
